body {
  margin: 0;
  padding: 40px 15px 20px 15px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;           
  display: flex;
  flex-direction: column;   
  align-items: center;       
  text-align: center;
}

.container h1 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: "Bitcount Grid Double", medium;
  font-size: 72px;
  font-weight: 350;
}

.container p {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.4;
  text-align: center;
  
}

h1 {
  font-family: "Bitcount Grid Double", system-ui;
  font-size: 72px;
  font-weight: 700;
  background: linear-gradient(180deg, #000000 0%, #0b192c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

h1::marker {
  font-size: 0.4em;
}

.text {
  color: #000000;
  font-family: 'Inconsolata', monospace;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.4;
  text-align: center;
}


.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.enter-btn {
  display: inline-block;
  width: 220px;
  padding: 16px 0;
  background-color: transparent;
  color: #0b192c;
  border: 2px solid #0b192c;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.enter-btn:hover,
.enter-btn:active {
  background-color: #0b192c;
  color: #ffffff;
  transform: rotate(7deg);
}


@media (min-width: 768px) {
  h1 {
    font-size: 90px;
  }
  
  .text {
    font-size: 40px;
  }

  .buttons-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
