body {
  margin: 0;
  height: 100vh;
  display: flex;
}
.enter-btn{
transition: transform 0.5s ease,
}

.enter-btn:active {
  transform: rotate(7deg);
}

.enter-btn:hover {
  transform: rotate(7deg);
}

.container {
    font-family: 'Inconsolata', monospace;
    font-size: 65px;
    font-weight: 700;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(90deg, #ff007f, #7928ca);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}


.text {
    color: #000000;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 700;

}
